<div class="sign-up-div">
  <h2 class="signin-h2">Sign Up</h2>
  <h3 class="signin-h3">Create a new account</h3>
  <form method="POST" action="/join">
    <!-- <label for="fname"></label>
    <input type="text" name="fname" placeholder="Enter First Name">
    <br>
    <label for="lname"></label>
    <input type="text" name="lname" placeholder="Enter Last Name"> -->
    <!-- <br> -->
    <!-- <label for="email"></label>
    <input type="text" name="email" placeholder="Enter Email Address">
    <br> -->
    <label for="username"></label>
    <input type="text" name="username" placeholder="Create Username">
    <br>
    <label for="password"></label>
    <input type="password" name="password" placeholder="Create Password">
    <br>
    <input type="submit">
  </form>
</div>
