<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BHM - Black Heroes Matter</title>
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="main.js"></script>
  </head>
  
  <body>
    <nav>

    </nav>

    <%= yield %>

    <footer>

    </footer>
  </body>
</html>
