<header>
  <div class="account_header">
    My Account
  </div>
</header>

<div id="ProfilePage">
  <div id="LeftCol">
    <div id="Photo">
    </div>
    <div id="ProfileOptions">Profile Picture
    </div>
  </div>
  <div id="Info">
    <p>
      <strong>Username:</strong>
      <span><%= @user.username %></span>
    </p>
    <p>
      <strong>Password:</strong>
      <span><%= @user.password %></span>
    </p>
    <p>
      <strong>First Name:</strong>
      <span><%= @user.fname %></span>
    </p>
    <p>
      <strong>Last Name:</strong>
      <span><%= @user.lname %></span>
    </p>
  </div>
  <div style="clear:both"></div>
  <div class="updateButton">
<<<<<<< HEAD
    <a href ="/edit"><button type="button" name="edit">Update</button></a>
  </div>
</div>
<div class="deleteButton">
  <a href ="/delete_account"><button type="button" name="delete">Delete</button></a>
</div>
=======
    <button type="button" name="edit" onclick="edit.erb">Update</button>
  </div>
</div>
>>>>>>> b0b7f300d66f4d55073717e85ca62f6a14bfefe8
