<div class="theBanner">
    <img id="banner" src="https://www.europalace.com/blog/wp-content/uploads/www_europalace_com/2016/10/Marvel-vs-DC-1.jpg" alt="banner">
</div>
  <div class="signupbackground">
    <h1 class="joinTitle"><u>Join</u></h1>
    <form class="signupform" action="/sign-up" method="post">
      <label for="username">Username</label>
      <br>
      <input class="signupinput" type="text" name="username" value="">
      <br>
      <label for="password">Password</label>
      <br>
      <input class="signupinput" type="password" name="password" value="">
      <br>
      <label for="email">Email</label> <br>
      <input class="signupinput" type="text" name="email" value="">
      <br>
      <button type="submit" name="button">Join</button>
    </form>
  </div>
