<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <img id="banner" src="Marvel-vs-DC-1.jpg" alt="banner">
    <title></title>
  </head>
  <body>
    <div class= "carousel">
      <img id="amanda_waller" src="amanda_waller_dc.jpg" alt="">
      <img id="nickFury" src="NickFury-Avengers.png" alt="">
      <img id="superMan" src="black-clark-kent.jpg" alt="">
      <img id="blackPanther" src="black_panthermarvel.jpg" alt="">
      <img id="greenLan" src="john_stewartdc.jpg" alt="">
      <img id="powerMan" src="lukecage.jpg" alt="">
      <img id="falCon" src="sam_wilson.jpeg" alt="">
      <img id="icon" src="icon_dc.jpg" alt="">
      <img id="staticShock" src="Static_ShockDC.jpg" alt="">
      <img id="warMachine" src="War_Machine.png" alt="">
    </div>
    <video poster="The-Dock/MP4/The-Dock.mp4" id="bgvid" playsinline autoplay muted loop>
      <source src="The-Dock/MP4/The-Dock.mp4" type="video/mp4">
    </video>

  </body>
  <script src="" charset="utf-8"></script>
</html>
