<div class="ecenter">

  <div class="editAccount">
    <p class="editheading">Edit Account</p>
    <form class="updatemyaccount" action="/change-account" method="post">
      <label for="username">Change Username</label>
      <br>
      <input type="username" name="username" value="">
      <br>
      <label for="password">Change Password</label>
      <br>
      <input type="password" name="password" value="">
      <br>
      <label for="First Name">Change First Name</label>
      <br>
      <input type="text" name="First Name" value="">
      <br>
      <label for="Last Name">Change Last Name</label>
      <br>
      <input type="text" name="Last Name" value="">
      <br>
      <button type="submit" name="button">enter</button>
    </form>
    <div class="deletecenter">
      <a id="deleteaccount" href="/delete_account">Delete Account</a>
    </div>
  </div>
</div>
