<header>
  <h3>Feed</h3>
  <h1 class="feed_header"><u>
    Black Batman vs Black Hulk</u>
  </h1>

</header>
<% @posts.reverse.each do |post| %>
<table style="width:100%">
  <tr>
  <%= @myaccount.user.username %>
  <div class="feed">
    <div class="feed_date"> <%= post.title %> </div>
    <div class="feedcontent"> <%= post.content %></div>
    <div class="message-title">Posted by</div>
    <div class="editpost">
      <a class="editBtn" href="">edit</a>
      <a class="editBtn" href="">delete</a>
    </div>
  </div>
  <form class="postform" action="/create-post" method="post">
    <button type="submit" name="button">post</button>
  </form>
  </tr>
</table>
<% end %>
