

<!-- <div class="slider" id="main-slider">
  <div class="slider-wrapper">
    <img id="amanda_waller" src="DC/amanda_waller_dc.jpg" alt="First" class="slide">
		<img id="nickFury" src="Marvel/NickFury-Avengers.png" alt="Second" class="slide">
		<img id="superMan" src="DC/black-clark-kent.jpg" alt="Third" class="slide">
    <img id="blackPanther" src="Marvel/black_panthermarvel.jpg" alt="Fourth" class="slide">
    <img id="greenLan" src="DC/john_stewartdc.jpg" alt="Fifth" class="slide">
    <img id="powerMan" src="Marvel/lukecage.jpg" alt="Sixth" class="slide">
    <img id="falCon" src="Marvel/sam_wilson.jpeg" alt="Seventh" class="slide">
    <img id="icon" src="DC/icon_dc.jpg" alt="Eighth" class="slide">
    <img id="staticShock" src="DC/Static_ShockDC.jpg" alt="Ninth" class="slide">
    <img id="warMachine" src="Marvel/War_Machine.png" alt="Tenth" class="slide">
	</div> -->

<div class="theBanner">
    <img id="banner" src="https://www.europalace.com/blog/wp-content/uploads/www_europalace_com/2016/10/Marvel-vs-DC-1.jpg" alt="banner">
</div>
<div class="container">

  <div class="mySlides">
    <img id="clark_kent" src="DC/black-clark-kent.jpg" style="width:100%">
    <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
      Calvin Ellis, Superman, DC
    </div>
  </div>

  <div class="mySlides">
    <img id="blackPanther" src="Marvel/black_panthermarvel.jpg" style="width:100%">
    <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
      Black Panther, Marvel
    </div>
  </div>

  <div class="mySlides">
    <img id = "amanda_waller" src="DC/amanda_waller_dc.jpg" style="width:100%">
    <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
      Amanda Waller, DC
    </div>
  </div>

  <div class="mySlides">
    <img id = "nick_fury" src="Marvel/NickFury-Avengers.png" style="width:100%">
    <div class="w3-display-topright w3-large w3-container w3-padding-16 w3-black">
      Nick Fury, Marvel
    </div>
  </div>

  <div class="mySlides">
    <img id="powerMan" src="Marvel/lukecage.jpg" style="width:100%">
    <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
      Luke Cage, Marvel
    </div>
  </div>

  <button class="w3-button w3-display-left w3-white" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-display-right w3-white" onclick="plusDivs(1)">&#10095;</button>
</div>

<script type="text/javascript" src="main.js"></script>
<!-- <video poster="The-Dock/MP4/The-Dock.mp4" id="bgvid" playsinline autoplay muted loop>
<source src="The-Dock/MP4/The-Dock.mp4" type="video/mp4">
</video>
