<header>
  <div class="account_header">
    My Account
  </div>
</header>

<div id="ProfilePage">
  <div id="LeftCol">
    <div id="Photo"></div>
    <div id="ProfileOptions">
      Profile Picture
    </div>
  </div>
  <div id="Info">
    <p>
      <strong>Username:</strong>
      <span><%= @user_profile.user.username %></span>
    </p>
    <p>
      <strong>Password:</strong>
      <span><%= @user_profile.user.password %></span>
    </p>
    <p>
      <strong>First Name:</strong>
      <span><%= @user_profile.fname %></span>
    </p>
    <p>
      <strong>Last Name:</strong>
      <span><%= @user_profile.lname %></span>
    </p>
    <p>
      <strong>Email:</strong>
      <span></span>
    </p>


  </div>
  <div style="clear:both"></div>
  <div class="updateButton">
    <button type="button" name="edit" onclick="edit.erb">Update</button>
  </div>
</div>
